<?xml version="1.0" encoding="UTF-8"?>
<!--2 -->
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="musicBean"
          class="com.dchalbyshev.spring.RockMusic">

    </bean>
    <bean id = "musucPlayer"
          class = "com.dchalbyshev.spring.MuiscPlayer">
        <constructor-arg ref="musicBean"/>
        <!--в аргумент контруктора передаем ссылку на
        созданный бин-->


    </bean>

</beans>
